.product-list{
  display: flex;
}
.product-card{
  margin-left: 5px;
 display: block;
  background: red;
  width: 24%;
  height: 500px;
}
.product-image{
  display: flex;
  width: 300px;
  height: 300px;
}
